*{
    margin:0px;
}


#main,canvas{
    border: 1px solid black;
    margin-top: 6px;
   

}

#canvas{
    width: 60%;
    margin : auto;
    height : 680px;
    border : 2px solid black

}

#form-body{
    width: 300px;
    height: 400px;
    border : 1px solid grey;
    margin : auto;
    margin-top :150px;
    padding: 12px;
    border-radius:5px ;
}

.headings{
    margin:4px;
    padding: 2px;
    margin-top: 30px;

}

