{% extends 'base.html' %}
{% block content %} 
    <div class = "justify-content-center align-items-center" style="min-height:70vh; margin-top:15%;">
        {% if current_user.is_authenticated %}
            <h1 class = "text-center">Welcome {{ current_user.name }} to the Parking World!</h1>
            <a class="btn btn-primary" href="{{url_for('list_parking_spots')}}" style = "margin-left: 44%;">Explore Parking Spots</a>
            {% else %}
            <h1 class = "text-center">Welcome to Parking App!Please login to continue</h1>
        {% endif %}
    </div>
{% endblock %}